#page {
    height:  11in;
    width:   8.5in;
    padding: 0.5in;
    
    border: 1px solid black;
    
    background-color:white;
    
    overflow:hidden;
}

#header
{
    width:100%;
    height:0.75in;
}

* {
    font-family: 'Baskerville', 'Times New Roman';
    font-size:   10px;
}

h1,h2,h3,h4,
#header,
#name, 
#header li 
{
    font-family: 'SF Pro', 'Helvetica Neue', 'Helvetica', 'san-serif';

    margin:0px;
    padding:0px;
}


h1 { 

    font-size:    8px; 
    border-bottom: 1px solid black;
}

h2 { font-size:12px; }

h3,h4
{
    font-size:   10px; 
    display:inline-block;
}

h4 { float:right; }

#header 
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:stretch;
    align-items:flex-start;
    
    margin-bottom:0.125in;
}

#name 
{
    font-size:50px;
    font-weight:bold;
    text-transform:uppercase;
    
    border:none;
    
    line-height: 100%;
    
    flex-basis:1;
    align-self:stretch;

}


#header ul 
/* contact information */
{
    list-style:none;
    
    text-align: right;
    flex-basis:1;
}