/* VARIABLES */
:root
{
	--textScale:	1;
	--textSize:	14px;
	--titleSize:	50px;
	--headerTextSize:10px;
	--h1Size:	10px;
	--h2Size:	14px;
	--h3h4Size:	12px;

	--pgBorder:	1px solid black;
	--pgHeight:	11in;
}

@media print 
{
	:root{ 
		--pgBorder:	none; /* This removes the page border that appears in-browser for printing.*/
	}
}

/* General Formatting of Major Elements */
body,
#header,
#name,
#header ul
{
    margin:0px;
    padding:0px;
    border:0px;
}

#page
{
    width:   8.5in;
    height: var(--pgHeight);

    padding: 0.5in;
    
    border: var(--pgBorder);
    
    background-color:white;
    
    overflow:hidden;
}

#header{
    width:100%;
    height:0.75in;
}

*
{
    font-family: 'Baskerville', 'Times New Roman';
    font-size:   calc(var(--textScale) * var(--textSize));
}


/* Headers */

h1,h2,h3,h4,
#header,
#name, 
#header li
{
    font-family: 'SF Pro', 'Helvetica Neue', 'Helvetica', 'san-serif';

    margin:0px;
    padding:0px;
}


h1
{ 

    font-size:    calc(var(--textScale) * var(--h1Size)); 
    border-bottom: 1px solid black;
}

h2
{ font-size:calc(var(--textScale) * var(--h2Size)); }

h3,h4
{
    font-size:   calc(var(--textScale) * var(--h3h4Size)); 
    display:inline-block;
}

h4
{ float:right; }


/* Header Section Formatting */

#header
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:stretch;
    align-items:flex-start;
}

#name
{
    font-size:calc(var(--textScale) * var(--titleSize));
    font-weight:bold;
    text-transform:uppercase;
    
    border:none;
    
    line-height: 100%;
    
    flex-basis:1;
    align-self:stretch;

}

/* Contact Information */
#header>ul>li
{
	font-size: calc(var(--headerTextSize) * var(--textScale));
    list-style:none;
    
    text-align: right;
    flex-basis:1;
}


/* Document Line Spacing */

h3+h2, h4+h2, h2+h2, h3+h3, h4+h3, h4+h3+h4
{ padding-top: 10px; }

p, ul
{
	margin-top:0px;
	margin-bottom:10px;
}

/* Containers (skills, projects, etc.) */
.container
{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20%,1fr));
}

.container-child ul
{
    padding: 0;
}

.container li:not(*:last-child)::after /* commas after all bullets except last */
{
    content: ', ';
}

.container li
{
    display: inline;
}
