<!DOCTYPE html>
<html>
	<head>
		<style id="style"></style>	
	</head>
	<body>
		<div id=page data-comment="#page identifies the area to be printed by the script.">
			<div id=header data-comment="#header indicates location where name and other personal information will be located.">
				<h1 id=name data-comment="#name will be formatted independently from other h1 tags in the default css template.">
				</h1>
				<ul id=contact data-comment="#contact will be populated programmatically with any contact information specified in `config_new.json`">
				</ul>
			</div>

			<div id=content data-comment="#content is the area where the markdown body will be injected.">
			</div>

		</div>

	<script>
		// This script iterates through the specified section and contains the elements after that section in divs for formatting as columns in `styles.css`.
		// #todo configure function to accept list. Maybe move to converter.mjs

		(function containerize(sectionName)
		{
			const sectContainer = document.createElement('div');
			sectContainer.classList.add(sectionName,'container');
			document.querySelector('#'+sectionName).insertAdjacentElement('afterEnd',sectContainer);

			const skillLists = document.querySelectorAll('#'+sectionName+' ~ ul');   

			for (let i = 0; i < skillLists.length; i += 1)
			{
				const containerChild = document.createElement('div');        
				containerChild.classList.add('container-child');
				containerChild.appendChild(skillLists[i].previousElementSibling);
				containerChild.appendChild(skillLists[i]);

				sectContainer.insertAdjacentElement('beforeEnd',containerChild);                 
			}
		})('skills');
	</script>
	
	</body>
</html>
