<!DOCTYPE html>
<html>
	<head>
		<style id="style"></style>	
	</head>
	<body>
		<div id=page>
			<div id=header>
				<h1 id=name>
				</h1>
				<ul id=contact>
				</ul>
			</div>
			<div id=content>
			</div>
		</div>
	<script>
		function containerize(sectionName)
		{
			const sectContainer = document.createElement('div');
			sectContainer.classList.add(sectionName,'container');
			document.querySelector('#'+sectionName).insertAdjacentElement('afterEnd',sectContainer);

			const skillLists = document.querySelectorAll('#'+sectionName+' ~ ul');   

			for (let i = 0; i < skillLists.length; i += 1)
			{
				const containerChild = document.createElement('div');        
				containerChild.classList.add('container-child');
				containerChild.appendChild(skillLists[i].previousElementSibling);
				containerChild.appendChild(skillLists[i]);

				sectContainer.insertAdjacentElement('beforeEnd',containerChild);                 
			}
		}
		containerize('skills');
	</script>
	</body>
</html>
